@import url("components/button.css");
@import url("components/banner.css");
@import url("components/avatar.css");
@import url("components/card.css");

body {
  margin: 0;
  margin-bottom: 100px;
  font-family: 'Varela Round', sans-serif;
  background-color: rgba(215, 215, 215, 1);
}
.text-center {
  text-align: center;
}

.container {
  margin: 0;
  padding: 0;
}
